body {
  background-color: #222;
}

.App {
  height: 100vh;
}

.coordinate {
  height: 100vh;
  /* display: flex;
  align-items: center; */
}

.point {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: white;
}

.buttons {
}
